#arrangement {
  background-color: $gray-lighter;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: stretch;
  $ruler-height: 30px;
  .track-details {
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    .arrangement-actions {
      height: $ruler-height;
      padding: 4px;
      border-bottom: 1px solid $control-dark-color;
    }
    .track {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      height: 100px;
      padding: 4px;
      background-color: $track-labels-background;
      border-bottom: $track-border;
      border-right: $track-border;
      .owner {
        -webkit-flex-basis: 200px;
        flex-basis: 50px;
        .btn-group {
          .btn.has-owner {
            padding-right: 5px;
            padding-left: 5px;
            > img {
              width: 18px;
              height: 18px;
            }
            + .dropdown-toggle {
              padding-right: 3px;
              padding-left: 3px;
            }
          }
        }
      }
      .track-properties {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        .track-dropdown {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          margin-bottom: 10px;
          > .btn {
            float: none;
            -webkit-flex-grow: 1;
            flex-grow: 1;
            text-align: left;
            &:last-of-type {
              -webkit-flex-grow: 0;
              flex-grow: 0;
            }
          }
        }
        .track-actions {
          .is-solo-muted {
            color: red;
          }
        }
      }
    }
  }
  .tracks {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    .ruler {
      height: $ruler-height;
      overflow: hidden;
      background-color: $control-dark-color;
      color: $control-font-color;
    }
    .track {
      height: 100px;
      background-image: url(images/waveform.svg);
      border-bottom: 1px solid black;
    }
  }
}
