html, body {
  background-color: $background-color;
}
a:hover {
  cursor: pointer;
}
.btn {
  line-height: 1.42858;
  &:focus, &:active:focus {
    outline: none;
  }
}
.buffer-top {
  margin-top: $padding;
}
.buffer-bottom {
  margin-bottom: $padding;
}
.gh-btn {
  background-color: #e6e6e6;
  background-image: linear-gradient(#fafafa, #eaeaea);
  border: 1px solid #d4d4d4;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: $border-radius-base;
  &:hover {
    color: white;
    background-color: #3072b3;
    background-image: linear-gradient(#599bdc, #3072b3);
    border-color: #518cc6 #518cc6 #2a65a0;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
  &:active {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #3072b3;
    background-image: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .1);
  }
}
.hint:after, [data-hint]:after {
  text-shadow: none;
}
