#drum {
padding: $padding;
-webkit-flex-grow: 1;
flex-grow: 1;
background-color: $background-color-light;


		ul{
			background-color:red;
			overflow:hidden;
			/*background-color:#878787;*/
			background-color:#EAEAEA;

			margin:0px;
			padding:0px;
			vertical-align:middle;
		}

		li{
		  background-color:#262626;
		  border: 1px solid #000;
		  border-radius: 3px;

		  float:left;
		  padding:20px;
		  margin:5px;
		  display:inline;

		}

		ul.tracker li{
			border: 2px dashed #D5D5D5;
			border-radius: 25px;
			padding:19px;

		}

		ul.tracker li.header{
			width:130px;
			padding:0px;
			border:0px;
			/*background-color:#878787;*/
			background-color:#EAEAEA;

			margin-top:13px;
		}

		li.header{
			background-color:#ADADAD;

		 	text-align:center;
			width:130px;
			padding:0px;


		}

  ul.dr li.header {
    padding:0 5px 10px 5px;
    div {
      height: 10px;
      width: 100%;
    }

    div.ui-slider {
      background: #eee;
      margin-top: 4px;
    }
  }

		ul.tracker li.active{
			border: 2px double green;
			background-color:#52BA3F;
		}

		ul li.active
		{
			background-color:#E58600;
		}

}
