#guitar-amplifier{
  background-color: white;
  ul {
    overflow: hidden;
  }
  li {
    text-align: center;
    border: 1px solid #bbb;
    padding: 5px;
    margin: 5px;
    float: left;
    display: inline;
  }
}
