#header {
  background-color: $gray-lighter;
  $header-padding: $header-height / 4;
  line-height: $header-height;
  #brand {
    height: $header-height;
    line-height: $header-height / 2;
    padding: $header-padding;
  }
  #navigation {
    > li > a {
      padding: $header-padding;
      &.active {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
  }
}
