#mixer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-height: 655px;
  border-bottom: 1px solid #bbb;
  background-color: white;

  .master-track {
    border-left: 1px solid #bbb;
  }

  .mixer-col {
    display: flex;
    flex-direction: column;
  }

  .tracks {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .track {
    float:left;
    border-right: 1px solid #bbb;
    text-align: center;
    background-color: $track-background;
    border-right: $track-border;


  }

  .track div {
    padding: 5px;
  }

  .mixer-labels {
    width: 100px;
    text-align: right;
    padding-right: 6px;
    border-right: $track-border;
    background-color: $track-labels-background;
  }

  .mixer-labels div {
    padding: 8px 0;
  }

  .input-section {
    flex: 0 0 40px;
  }

  .effects-section {
    flex: 0 0 164px;
  }

  .output-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .label-section {
    flex: 0 0 30px;
    border-top: $track-border;

    input {
      max-width: 90px;
      width: 90px;
    }
  }

  .track-volume {
    display: flex;
    flex-direction: row;
    /* TODO: Temporary fix for knob canvas being too long */
    z-index: 500;

    .volume-column {
      height: 225px;
      flex: 1;

      $volume-height: 220px;
      $volume-padding: 5px;
      .volume-slider {
        height: $volume-height;
      }

      .volume {
        height: $volume-height;

        .progress {
          height: $volume-height;
          padding: 5px;
          background-color: $control-dark-color;
          /*.progress-bar {
            float: none;
            height: $volume-height - ($volume-padding * 2);
            height: 5px;
            background: linear-gradient(to top,
              hsla(120, 70%, 40%, 1) 0%,
              hsla(120, 70%, 40%, 1) 75%,
              hsla(40, 100%, 50%, 1) 75%,
              hsla(40, 100%, 50%, 1) 95%,
              hsla(0, 80%, 40%, 1) 95%,
              hsla(0, 80%, 40%, 1) 100%);
            &:first-of-type {
              margin-bottom: 1px;
            }
          }
          .progress-bar-container {
            overflow: hidden;
          }*/
        }
      }
    }

    /*.volume {
      $volume-width: 150px;
      $volume-padding: 5px;
      display: inline-block;
      width: $volume-width;
      margin-left: 10px;
      .progress {
        height: 21px;
        margin: 0;

        padding: 5px;
        background-color: $control-dark-color;
        .progress-bar {
          float: none;
          width: $volume-width - ($volume-padding * 2);
          height: 5px;
          background: linear-gradient(to right,
            hsla(120, 70%, 40%, 1) 0%,
            hsla(120, 70%, 40%, 1) 75%,
            hsla(40, 100%, 50%, 1) 75%,
            hsla(40, 100%, 50%, 1) 95%,
            hsla(0, 80%, 40%, 1) 95%,
            hsla(0, 80%, 40%, 1) 100%);
          &:first-of-type {
            margin-bottom: 1px;
          }
        }
        .progress-bar-container {
          overflow: hidden;
        }
      }
    }*/
  }

  .output-section .track-toggles,
  .output-section .output-button-row {
    flex: 0 0 40px;
  }

  .output-section .knob {
    flex: 0 0 80px;
  }

  .output-section .track-volume {
    flex: 1;
  }

  .single-button button {
    width: 100%;
  }

  .track-toggles {
    /* TODO: Temporary fix for knob canvas being too long */
    z-index: 500;
  }

  .add-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5px;
  }

  .tracks > .ember-view,
  .add-track {
    min-width: 105px
  }

  .add-track {
    max-width: 105px;
    padding: 0 100px;

    .btn-link {
      color: black;
    }
  }
}
