#projects {
  padding: $padding;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: $background-color-light;
  table {
    background-color: white;
    td {
      vertical-align: middle;
    }
  }
  .collaborators {
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 3px;
    }
  }
}
