#toolbar {
  padding: $padding;
  background-color: $background-color;
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  #toolbar-left {
    -webkit-flex-basis: 320px;
    flex-basis: 320px;
    text-align: left;
  }
  #toolbar-middle {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
  }
  #toolbar-right {
    -webkit-flex-basis: 320px;
    flex-basis: 320px;
    text-align: right;
  }
  #position {
    display: inline-block;
    $position-padding: 10px;
    padding: $position-padding;
    height: $toolbar-height - $position-padding * 2;
    line-height: (($toolbar-height - $position-padding * 2) / 2) - 2;
    background-color: $control-background-color;
    font-size: 20px;
    color: $control-font-color;
    border-radius: $border-radius-base;
  }
}
