$padding: 10px;
$padding-small: 5px;
$header-height: 40px;
$toolbar-height: 53px;

// Colors
$background-color: $gray-light;
$background-color-dark: $gray;
$track-labels-background: grey;
$background-color-light: white;
$control-dark-color: $gray-dark;
$control-font-color: rgba(255, 255, 255, 0.9);
$control-light-color: $gray-lighter;
$track-border: 1px solid black;
$track-background: #eee;

