<div class="track mixer-col">
			<div class="input-section single-button">

			</div>
			<div class="effects-section">

			</div>
			<div class="output-section">
				<div class="output-button-row single-button">

				</div>
				<div class="knob">
          <!-- TODO: replace this with ember-knob helper -->
					{{input value=leftRightBalance class="mixer-knob"}}
				</div>
				<div class="track-toggles">

				</div>
				<div class="track-volume">
					<div class="volume-column" >
							<div class="volume-slider" {{bind-attr volume=volume}}>

							</div>
					</div>
					<div class="volume-column" >
							<div class="volume">
                <div class="progress">
                  <table>
                    <td><div class="volume-cover" {{bind-attr style=masterVolumeLeftHeightInverted}}></div></td>
                    <td><div class="volume-cover" {{bind-attr style=masterVolumeRightHeightInverted}}></div></td>
                  </table>
                </div>
              </div>
					</div>
				</div>
			</div>
			<div class="label-section">
        <label>Master</label>
			</div>
</div>
