<div class="tracks">
  {{#each}}
    {{#unless master}}
      {{#view "mixer/track"}}
        {{partial "mixer/track"}}
      {{/view}}
    {{/unless}}
  {{/each}}
  <div class="add-track">
    <button {{action "addTrack"}} type="button" class="btn btn-link">+ Add track</button>
  </div>
</div>
