<aside id="chat">
  <div class="chat-container">
    <div class="title">Collaborators</div>
    {{#each user in collaborators}}
      <img class="img-thumbnail" {{bind-attr src=user.gravatarUrl}}>
    {{else}}
      None
    {{/each}}
    <hr>
    <div class="title">Chat</div>
  <div>
</aside>
