<div id="drum">
	<ul class='tracker'>
		<li class='header'>
      <div class="btn-group">
        <button type="button" class="btn btn-default" title='Play!'><i class="fa fa-play"></i></button>
        <button type="button" class="btn btn-default" title='Stop'><i class="fa fa-stop"></i></button>
        <button type="button" class="btn btn-default" title='Clear' style="color: red"><i class="fa fa-remove"></i></button>
      </div>
		</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li class='active'></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<ul class="dr">
		<li class='header'>Tom 1 <div type="range" min="0" max="10" value="10" /></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<ul class="dr">
		<li class='header'>Tom 2 <div type="range" min="0" max="10" value="10" /></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="dr">
		<li class='header'>Tom 3 <div type="range" min="0" max="10" value="10"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li class='active'></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="dr">
		<li class='header'>Hi-Hat <div type="range" min="0" max="10" value="8" /></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="dr">
		<li class='header'>Snare <div type="range" min="0" max="10" value="10" /></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li class='active'></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="dr">
		<li class='header'>Kick <div type="range" min="0" max="10" value="8" /></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
