<div id="drum">
	<ul class='tracker'>
		<li class='header'>
			<button type="button" class="btn btn-danger" title='Clear'><i class="fa fa-remove"></i></button>
			<button type="button" class="btn btn-warning" title='Stop'><i class="fa fa-stop"></i></button>
			<button type="button" class="btn btn-primary" title='Play!'><i class="fa fa-play"></i></button>
		</li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li class='active'></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
	</ul>

	<ul>
		<li class='header'>Tom 1 <input type="range" min="0" max="10" value="10"></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
	</ul>
	
	<ul>
		<li class='header'>Tom 2 <input type="range" min="0" max="10" value="10"></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
	</ul>
	<ul>
		<li class='header'>Tom 3 <input type="range" min="0" max="10" value="10"></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li class='active'></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>				
	</ul>
	<ul>
		<li class='header'>Hi-Hat <input type="range" min="0" max="10" value="8"></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>				
	</ul>	
	<ul>
		<li class='header'>Snare <input type="range" min="0" max="10" value="10"></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li class='active'></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>				
	</ul>	
	<ul>
		<li class='header'>Kick <input type="range" min="0" max="10" value="8"></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>			
		<li></li>
		<li></li>
		<li></li>				
	</ul>
</div>
