<div id="guitar-amplifier">
  <ul>
    <li>
      <p>Volume</p>
      <input type="text" value="8" class="dial">
    </li>
    <li>
      <p>Overdrive</p>
      <input type="text" value="8" class="dial">
    </li>
    <li>
      <p>Reverb</p>
      <input type="text" value="8" class="dial">
    </li>
    <li>
      <p>Cabinet</p>
      <input type="text" value="8" class="dial">
    </li>
  </ul>
</div>
