<header id="header">
  {{#link-to "index" id="brand" class="navbar-brand"}}
    <i class="fa fa-music"></i> LiveBand
  {{/link-to}}
  <div class="navbar-right">
    <ul id="navigation" class="nav navbar-nav">
      <li>
        {{#link-to "login"}}<i class="fa fa-user"></i> Login{{/link-to}}
      </li>
    </ul>
  </div>
</header>
