<header id="header" class="navbar navbar-static-top row" role="banner">
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}
      <i class="fa fa-music"></i> LiveBand
    {{/link-to}}
  </div>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li>
        {{#link-to "login"}}<i class="fa fa-user"></i> Login{{/link-to}}
      </li>
    </ul>
  </div>
</header>
