<header id="header">
  {{#link-to "index" id="brand" class="navbar-brand"}}
    <i class="fa fa-music"></i>
    LiveBand
  {{/link-to}}
  <a type="button" class="btn btn-xs gh-btn" href="https://github.com/liveband/liveband/" target="_blank"><i class="fa fa-github"></i> Fork</a>
  <div class="navbar-right">
    <ul id="navigation" class="nav navbar-nav">
      <li>{{#link-to "projects"}}<i class="fa fa-file-sound-o"></i> Projects{{/link-to}}</li>
      <li>{{#link-to "daw"}}<i class="fa fa-music"></i> DAW{{/link-to}}</li>
      <li>{{#link-to "mixer"}}<i class="fa fa-sliders"></i> Mixer{{/link-to}}</li>
      <li>{{#link-to "guitar-amplifier"}}<i class="fa fa-music"></i> Guitar Amplifier{{/link-to}}</li>
      <li>{{#link-to "drum"}}<i class="fa fa-th"></i> Drum Machine{{/link-to}}</li>
      <li>{{#link-to "signup"}}<i class="fa fa-user"></i> Signup{{/link-to}}</li>
    </ul>
  </div>
</header>
