<aside id="library">
  <div class="library-container">
    <div class="title">Library</div>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i><a>Sounds</a></li>
      <li>
        <i class="fa-li fa fa-caret-down"></i><a>Drums</a>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-th"></i>{{#link-to "drum"}}606 Drum Kit{{/link-to}}</li>
          <li><i class="fa-li fa fa-th"></i>{{#link-to "drum"}}707 Drum Kit{{/link-to}}</li>
          <li><i class="fa-li fa fa-th"></i>{{#link-to "drum"}}808 Drum Kit{{/link-to}}</li>
          <li><i class="fa-li fa fa-th"></i>{{#link-to "drum"}}909 Drum Kit{{/link-to}}</li>
          <li><i class="fa-li fa fa-th"></i>{{#link-to "drum"}}C78 Drum Kit{{/link-to}}</li>
        </ul>
      </li>
      <li>
        <i class="fa-li fa fa-caret-down"></i><a>Instruments</a></li>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Bass{{/link-to}}</li>
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Brass{{/link-to}}</li>
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Pad{{/link-to}}</li>
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Piano{{/link-to}}</li>
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Strings{{/link-to}}</li>
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Synth{{/link-to}}</li>
          <li><i class="fa-li fa fa-columns"></i>{{#link-to "piano-roll"}}Wind{{/link-to}}</li>
        </ul>
      <li>
        <i class="fa-li fa fa-caret-down"></i><a>Audio Effects</a>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Amplifier{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Capinet{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Chorus{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Compressor{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Delay{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Equalizer{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Flanger{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Gate{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Limiter{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Overdrive{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Phaser{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Reverb{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Saturator{{/link-to}}</li>
          <li><i class="fa-li fa fa-file-audio-o"></i>{{#link-to "guitar-amplifier"}}Vocoder{{/link-to}}</li>
        </ul>
      </li>
      <li><i class="fa-li fa fa-caret-right"></i><a>MIDI Effects</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Plugins</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Clips</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Samples</a></li>
    </ul>
  <div>
</aside>
