<aside id="library">
  <div class="library-container">
    <div class="title">Library</div>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i><a>Sounds</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Drums</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Instruments</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Audio Effects</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>MIDI Effects</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Plugins</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Clips</a></li>
      <li><i class="fa-li fa fa-caret-right"></i><a>Samples</a></li>
    </ul>
  <div>
</aside>
