<div id="login" class="row">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">Note: This screen is in development</div>
    <p class="text-center">Please log in</p>
  </div>
</div>
