<div id="toolbar">
  <div id="toolbar-left">
    <div class="btn-group">
      <button type="button" class="btn btn-default"><i class="fa fa-play"></i></button>
      <button type="button" class="btn btn-default"><i class="fa fa-stop"></i></button>
      <button type="button" class="btn btn-default"><i class="fa fa-pause"></i></button>
      <button type="button" class="btn btn-default" style="color:red;"><i class="fa fa-circle"></i></button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default"><i class="fa fa-fast-backward"></i></button>
      <button type="button" class="btn btn-default"><i class="fa fa-backward"></i></button>
      <button type="button" class="btn btn-default"><i class="fa fa-forward"></i></button>
      <button type="button" class="btn btn-default"><i class="fa fa-fast-forward"></i></button>
    </div>
  </div>
  <div id="toolbar-middle">
    Song details
  </div>
  <div id="toolbar-right">
    Right details
  </div>
</div>
